/*noinspection CssInvalidAtRule*/
@tailwind base;
/*noinspection CssInvalidAtRule*/
@tailwind components;
/*noinspection CssInvalidAtRule*/
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Ubuntu Sans";
        font-style: normal;
        font-weight: 400;
        src: url(/assets/fonts/ubuntu-sans.ttf) format("truetype");
    }

    @font-face {
        font-family: "Ubuntu Mono";
        font-style: normal;
        font-weight: 400;
        src: url(/assets/fonts/ubuntu-mono.ttf) format("truetype");
    }
}
